Repository andrewthetechie/dd-event-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-lint, cargo-toml-lint, rust-linting, cargo-check, rust-clippy, rust-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
  - repo: local
    hooks:
      - id: toml-lint
        name: Toml Lint with Taplo
        description: Run taplo format on toml files
        entry: taplo format
        pass_filenames: false
        types: [file, toml]
        language: system
      - id: cargo-toml-lint
        name: Lint Cargo.toml with cargo-toml-lint
        description: Run cargo-toml-lint format on Cargo.toml
        entry: cargo-toml-lint Cargo.toml
        pass_filenames: false
        types: [file, toml]
        language: system
      - id: rust-linting
        name: Rust linting
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all --
        pass_filenames: true
        types: [file, rust]
        language: system
      - id: cargo-check
        name: Cargo check
        description: Run cargo check on files included in the commit.
        entry: cargo check
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: rust-test
        name: Rust test
        description: Run cargo test
        entry: cargo test
        pass_filenames: false
        types: [file, rust]
        language: system
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier

ci: remove upx from ci
  .github/workflows/release.yml
Due: none

feat: initial release (#1)
  .cargo/config.toml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  LICENSE
  README.md
  src/args.rs
  src/main.rs
Due: toml-lint, cargo-toml-lint, rust-linting, cargo-check, rust-clippy, rust-test

chore(main): release 0.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-lint, cargo-toml-lint

ci: fix release workflow
  .github/workflows/release.yml
Due: none

feat: add dockerfile
  Dockerfile
Due: none

chore(main): release 0.1.0 (#2)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-lint, cargo-toml-lint

docs: update readme
  README.md
Due: none

fix: reduce tokio featureset
  .pre-commit-conifg.yaml
  Cargo.lock
  Cargo.toml
Due: toml-lint, cargo-toml-lint

fix: dependency updates
  Cargo.lock
Due: none

chore(main): release 0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-lint, cargo-toml-lint

chore(main): release 0.2.0 (#10)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-lint, cargo-toml-lint

ci: update dependabot-auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none
